bases:
  - ../helmfile-defaults.yaml.gotmpl
repositories:
  - name: metrics-server
    url: https://kubernetes-sigs.github.io/metrics-server/
  - name: opentelemetry-helm
    url: https://open-telemetry.github.io/opentelemetry-helm-charts
  - name: signoz
    url: https://charts.signoz.io
  - name: prometheus-community
    url: https://prometheus-community.github.io/helm-charts
  - name: kedacore
    url: https://kedacore.github.io/charts
  - name: signoz-metrics-adapter-lucasfcnunes
    url: git+https://github.com/lucasfcnunes/signoz-metrics-adapter@helm?rev=master
templates:
  default-release: &default-release
    namespace: monitoring
environments:
  default:
    values:
      - releases:
          metrics-server:
            version: 3.13.0
            <<: *default-release
          opentelemetry-operator:
            version: 0.113.1
            <<: *default-release
          opentelemetry-kube-stack:
            version: 0.15.0
            <<: *default-release
          k8s-infra:
            version: 0.16.0
            <<: *default-release
          signoz-metrics-adapter:
            version: "*"
            <<: *default-release
          signoz:
            version: 0.127.1
            <<: *default-release
          prometheus-adapter:
            version: 5.3.0
            <<: *default-release
          keda:
            version: "*"
            <<: *default-release
---
templates:
  default: &default
    version: '{{`{{ .Values | get "releases" | get .Release.Name | get "version" }}`}}'
    namespace: '{{`{{ .Values | get "releases" | get .Release.Name | get "namespace" }}`}}'
    values:
      - ./{{`{{ .Release.Name }}`}}/values.yaml.gotmpl
releases:
  - chart: metrics-server/metrics-server
    name: metrics-server
    <<: *default
    namespace: kube-system
    installed: false
  - chart: opentelemetry-helm/opentelemetry-operator
    name: opentelemetry-operator
    <<: *default
    installed: false
  - chart: opentelemetry-helm/opentelemetry-kube-stack
    name: opentelemetry-kube-stack
    <<: *default
    set:
      - name: opentelemetry-operator.enabled
        value: false
      - name: opentelemetry-operator.crds.create
        value: false
    needs:
      - opentelemetry-operator
    installed: false
  - chart: signoz/k8s-infra
    name: k8s-infra
    <<: *default
    installed: false
  - chart: signoz/signoz
    name: signoz
    <<: *default
    wait: true
    timeout: 3600
    dependencies:
      - chart: bedag/raw
        version: "*"
        alias: extraObjects
      - chart: signoz/k8s-infra
        version: '{{ .Values | get "releases" | get "k8s-infra" | get "version" }}'
        # alias: k8s-infra
    jsonPatches:
      - target:
          kind: ClickHouseInstallation
          name: signoz-clickhouse
        patch:
          - op: replace
            path: /spec/templates/podTemplates/0/spec/containers/0/command
            value: []
          # - op: add
          #   path: /spec/templates/podTemplates/0/spec/containers/0/env
          #   value:
          #     # - name: CLICKHOUSE_CLUSTER_ENABLED
          #     #   value: "true"
          #     # - name: CLICKHOUSE_CONFIG
          #     #   value: /etc/clickhouse-server/config.xml
          #     # - name: CLICKHOUSE_ALWAYS_RUN_INITDB_SCRIPTS
          #     #   value: "true"
          #     # - name: CLICKHOUSE_INIT_TIMEOUT
          #     #   value: "60"
      - target:
          kind: StatefulSet
          name: signoz
        patch:
          - op: add
            path: /spec/template/spec/initContainers
            value:
              - name: signoz-sqlite-bootstrap
                image: lucasfcnunes/sqlite3-alpine:latest
                command:
                  - /bin/sh
                args:
                  - -c
                  - |
                    set -euo pipefail

                    echo "Bootstrapping Signoz SQLite database..."
                    cat /tmp/signoz-sqlite-bootstrap/*.sql | sqlite3 /var/lib/signoz/signoz.db
                    echo "Signoz SQLite database bootstrapped successfully!"
                volumeMounts:
                  - mountPath: /tmp/signoz-sqlite-bootstrap/
                    name: signoz-sqlite-bootstrap
                  - mountPath: /var/lib/signoz/
                    name: signoz-db-volume
    needs:
      # - opentelemetry-kube-stack
      # - k8s-infra
  - chart: signoz-metrics-adapter-lucasfcnunes/signoz-metrics-adapter
    name: signoz-metrics-adapter
    <<: *default
    needs:
      - signoz
    installed: false
  - chart: prometheus-community/prometheus-adapter
    name: prometheus-adapter
    <<: *default
    needs:
      - signoz
    installed: true
  - chart: kedacore/keda
    name: keda
    <<: *default
    needs:
      - signoz
    installed: false
