# ! single-node cluster
cephClusterSpec:
  # skipUpgradeChecks: true
  mon:
    count: 1
    allowMultiplePerNode: true
    # requireSafeReplicaSize: false
  mgr:
    count: 1
    allowMultiplePerNode: true
configOverride: |
  [global]
  osd_pool_default_size = 1
  mon_warn_on_pool_no_redundancy = false
  bdev_flock_retry = 20
  bluefs_buffered_io = false
  mon_data_avail_warn = 10
