export KUBECONFIG="$KUBECONFIG:$HOME/.kube/nixos-01/kubeconfig"
export KUBECTL_EXTERNAL_DIFF="dyff between --omit-header --set-exit-code"
export HELM_DIFF_OUTPUT="dyff"
export HELM_DIFF_THREE_WAY_MERGE="true"
export CONFIG_FILE="$PWD/dotbins.yaml"
export TOOLS_DIR="$HOME/.dotbins"
export GITHUB_TOKEN=$(gh auth token)
