# INFO: https://artifacthub.io/packages/helm/skyhook/radar?modal=values
image:
  tag: 1.6.1
replicaCount: 1
rbac:
  additionalRules: []
  helm: true
  secrets: true
  viewRBAC: true
  podExec: true
  portForward: true
  crdGroups:
    all: true
    argo: true # argoproj.io
    awx: true # awx.ansible.com
    certManager: true # cert-manager.io
    cloudnativePg: true # cloudnative-pg.io
    clusterApi: true # *.cluster.x-k8s.io (CAPI core + infrastructure / controlplane / bootstrap / addons)
    contour: true # projectcontour.io
    crossplane: true # crossplane.io, pkg.crossplane.io
    descheduler: true # descheduler.alpha.kubernetes.io
    envoyGateway: true # gateway.envoyproxy.io
    externalDns: true # externaldns.k8s.io
    externalSecrets: true # external-secrets.io
    flux: true # *.toolkit.fluxcd.io
    gatewayApi: true # gateway.networking.k8s.io
    gcpMonitoring: true # monitoring.googleapis.com
    grafana: true # monitoring.grafana.com, tempo/loki/grafana.integreatly.org
    istio: true # networking.istio.io, security.istio.io
    karpenter: true # karpenter.sh, karpenter.k8s.aws, karpenter.azure.com, karpenter.gcp.compute.com
    keda: true # keda.sh
    knative: true # serving.knative.dev, eventing.knative.dev, sources/messaging/flows/networking.internal.knative.dev
    kubeshark: true # kubeshark.io
    kured: true # kured.io
    kyverno: true # kyverno.io, wgpolicyk8s.io, reports.kyverno.io
    mariadb: true # mariadb.mmontes.io
    nginx: true # nginx.org
    openshift: true # observability.openshift.io
    opentelemetry: true # opentelemetry.io
    prometheus: true # monitoring.coreos.com
    reflector: true # reflector.v1.k8s.emberstack.com
    reloader: true # reloader.stakater.com
    sealedSecrets: true # sealed-secrets.bitnami.com
    strimzi: true # strimzi.io, kafka.strimzi.io
    tekton: true # tekton.dev
    traefik: true # traefik.io, traefik.containo.us
    trivy: true # aquasecurity.github.io
    velero: true # velero.io
  # additionalCrdGroups:
  #   - cilium.io
  #   - ceph.rook.io
  #   - csi.ceph.io
  #   - tailscale.com
service:
  annotations:
    tailscale.com/expose: "true"
    tailscale.com/proxy-group: ingress-proxies
ingress:
  # enabled: true
  className: tailscale
  annotations:
    tailscale.com/proxy-group: ingress-proxies
    # tailscale.com/funnel: "true"
    # external-dns.alpha.kubernetes.io/hostname: radar.tail3404eb.ts.net
  hosts:
    - # host: radar
      paths:
        - path: /
          pathType: Prefix
  # tls:
  #   - # secretName: radar-tls
  #     hosts:
  #       - radar
auth:
  mode: none
  # oidc:
  #   issuerURL: ""
  #   clientID: ""
  #   clientSecret: ""
cloud:
  enabled: false
traffic:
  # Manual Prometheus/VictoriaMetrics URL (bypasses auto-discovery)
  # Use this when auto-discovery doesn't find your metrics service.
  # Examples:
  #   http://prometheus-server.monitoring:80
  #   http://vmsingle.victoria-metrics:8428
  #   http://vmselect.victoria-metrics:8481/select/0/prometheus
  prometheusUrl: ""
# timeline:
#   storage: sqlite
#   historyLimit: 10000
#   retention: 168h
# persistence:
#   enabled: true
#   storageClassName: default
