csi:
  enableCephfsDriver: true
  csiCephFSPluginVolume:
    - name: lib-modules
      hostPath:
        path: /run/current-system/kernel-modules/lib/modules/
    # - name: host-nix
    #   hostPath:
    #     path: /nix
  enableRbdDriver: true
  csiRBDPluginVolume:
    - name: lib-modules
      hostPath:
        path: /run/current-system/kernel-modules/lib/modules/
    # - name: host-nix
    #   hostPath:
    #     path: /nix
# TODO: monitoring
# monitoring:
#   enabled: true
