prometheus:
  # url: http://signoz
  # port: 8080
  url: http://srvlucasfcnunes.tail3404eb.ts.net
  port: 9090
extraArguments:
  # TOdO: pass via k8s Secret env var
  - --prometheus-header='SIGNOZ-API-KEY={{ fetchSecretValue "ref+sops://./secrets.enc.yaml#/signoz/SIGNOZ-API-KEY" }}'
priorityClassName: "system-cluster-critical"
rbac:
  useAuthReaderClusterRole: true
podDisruptionBudget:
  enabled: true
  minAvailable: 1
  maxUnavailable: ~
resources:
  requests:
    cpu: 150m
    memory: 400Mi
rules:
  default: true
  resource:
    window: 3m
    cpu:
      containerQuery: |
        sum by (<<.GroupBy>>) (
          rate(container_cpu_usage_seconds_total{container!="",<<.LabelMatchers>>}[3m])
        )
      nodeQuery: |
        sum  by (<<.GroupBy>>) (
          rate(node_cpu_seconds_total{mode!="idle",mode!="iowait",mode!="steal",<<.LabelMatchers>>}[3m])
        )
      resources:
        overrides:
          node:
            resource: node
          namespace:
            resource: namespace
          pod:
            resource: pod
      containerLabel: container
    memory:
      containerQuery: |
        round(sum by (<<.GroupBy>>) (
          avg_over_time(container_memory_working_set_bytes{container!="",<<.LabelMatchers>>}[3m])
        ))
      nodeQuery: |
        round(sum by (<<.GroupBy>>) (
          avg_over_time(node_memory_MemTotal_bytes{<<.LabelMatchers>>}[3m])
          -
          avg_over_time(node_memory_MemAvailable_bytes{<<.LabelMatchers>>}[3m])
        ))
      resources:
        overrides:
          node:
            resource: node
          namespace:
            resource: namespace
          pod:
            resource: pod
      containerLabel: container
    # cpu:
    #   containerQuery: sum(rate(container_cpu_usage_seconds_total{<<.LabelMatchers>>}[3m])) by (<<.GroupBy>>)
    #   nodeQuery: sum(rate(container_cpu_usage_seconds_total{<<.LabelMatchers>>, id='/'}[3m])) by (<<.GroupBy>>)
    #   resources:
    #     overrides:
    #       instance:
    #         resource: node
    #       namespace:
    #         resource: namespace
    #       pod:
    #         resource: pod
    #   containerLabel: container
    # memory:
    #   containerQuery: sum(container_memory_working_set_bytes{<<.LabelMatchers>>}) by (<<.GroupBy>>)
    #   nodeQuery: sum(container_memory_working_set_bytes{<<.LabelMatchers>>,id='/'}) by (<<.GroupBy>>)
    #   resources:
    #     overrides:
    #       instance:
    #         resource: node
    #       namespace:
    #         resource: namespace
    #       pod:
    #         resource: pod
    #   containerLabel: container
    # gpu:
    #   containerQuery: sum(nvidia_gpu_duty_cycle{<<.LabelMatchers>>}) by (<<.GroupBy>>) / sum(nvidia_gpu_num_devices{<<.LabelMatchers>>}) by (<<.GroupBy>>)
    #   nodeQuery: sum(nvidia_gpu_duty_cycle{<<.LabelMatchers>>}) by (<<.GroupBy>>) / sum(nvidia_gpu_num_devices{<<.LabelMatchers>>}) by (<<.GroupBy>>)
    #   resources:
    #     overrides:
    #       instance:
    #         resource: node
    #       namespace:
    #         resource: namespace
    #       pod:
    #         resource: pod
    #   containerLabel: container
    # gpu-memory:
    #   containerQuery: sum(nvidia_gpu_memory_used_bytes{<<.LabelMatchers>>}) by (<<.GroupBy>>)
    #   nodeQuery: sum(nvidia_gpu_memory_used_bytes{<<.LabelMatchers>>'}) by (<<.GroupBy>>)
    #   resources:
    #     overrides:
    #       instance:
    #         resource: node
    #       namespace:
    #         resource: namespace
    #       pod:
    #         resource: pod
    #   containerLabel: container
  # custom:
  #   - {}
  # external:
  #   - {}
