[Unit]
Description=gpg4win to WSL connector for SSH
Requires=gpg-agent-ssh.socket

[Service]
Type=simple
ExecStart=/mnt/c/opt/bin/npiperelay-NZSmartie.exe -ei -s '//./pipe/openssh-ssh-agent'
StandardInput=socket

[Install]
WantedBy=default.target
