[Unit]
Description=SSH Relay

[Service]
ExecStartPre=/bin/rm -f /home/lucasfcnunes/.ssh/agent.sock /run/user/1000/ssh/agent.sock
ExecStart=/usr/bin/socat "UNIX-LISTEN:/home/lucasfcnunes/.ssh/agent.sock,fork,unlink-close,unlink-early" EXEC:"/mnt/c/opt/bin/npiperelay-NZSmartie.exe -v -p -ei -s //./pipe/openssh-ssh-agent",nofork
ExecStartPost=/bin/bash -c 'mkdir -p /run/user/1000/ssh/ && /usr/bin/ln -s /home/lucasfcnunes/.ssh/agent.sock /run/user/1000/ssh/agent.sock'

[Install]
WantedBy=default.target
